---
# example secrets file for k3s cluster
# secrets.yml generated on first run
# to generate/use new, just delete before ./deploy.sh

# shared secret token for cluster nodes to authenticate (64 hex characters)
k3s_token: "EXAMPLE-0123456789abcdef0123456789abcdef0123456789abcdef0123456789"

# encryption key for secrets-at-rest (base64 encoded 32 bytes)
k3s_encryption_key: "EXAMPLE-dGhpc2lzYW5leGFtcGxla2V5MTIzNDU2Nzg5MDEyMzQ1Ng=="

